<%- include ('Partials/header') %>

    <title>News</title>
    </head>

    <body>

        <section id="frontpage">

            <!-- Navigation Bar -->

            <%- include ('Partials/nav') %>

                <!-- Navigation Bar Ends -->



                <!-- News Headline -->

                <div id="newsBig">
                    <div>
                        news
                    </div>
                    <div id="aText">


                    </div>
                </div>

        </section>

        <section id="newsAndHeading">

            <section id="topHeadlines">
                <h1>
                    Top Headlines
                </h1>
            </section>



            <section>

                <div id="newsContainer">

                    <%- include ('Partials/news') %>

            </section>




        </section>


        <%- include ('Partials/footer') %>


            <script src="/index.js"></script>





    </body>

    </html>